<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.user">
	<insert id="insert">
		INSERT INTO user(userEmail, userPassword, userName, userAddr) VALUES(#{userEmail},#{userPassword},#{userName}, #{userAddr}) 
	</insert>
	
	<delete id="delete">
		DELETE FROM user WHERE userID = #{userID}
	</delete>
	
	<select id="loginCheck" resultType="int">
		SELECT count(*) FROM user WHERE userEmail = #{userEmail} and userPassword = #{userPassword} 
	</select>
</mapper>